start_date: 2023-06-01T00:00:00
end_date: 2023-06-01T06:00:00

checkpoints:
  forecaster:
    checkpoint_path: # Path to checkpoint .../inference-last.ckpt
    leadtimes: 11

frequency: 6h

workdir: # Path to workdir for temp files
output: # Base path to output. Only used as reference, not strictly needed
verif_src_path: /leonardo_work/EUHPC_R04_079/bris/verification/nordic/6h/202206_202305/
verif_dst_path: ${output}/verification/

verif_src_fname: MEPS_2.5km.nc
verif_dst_fname: bris_demo.nc

dataset: /leonardo_work/EUHPC_R04_079/bris/datasets/ERA5/aifs-ea-an-oper-0001-mars-o96-1979-2023-1h-v1.zarr

# If the user wants to release GPU cache and memory
# This option releases unused cached/memory used by torch
release_cache: False

# Determine how much the encoder and decoder is chunked
inference_num_chunks: 1

dataloader:
  datamodule:
    _target_: bris.data.dataset.NativeGridDataset
    _convert_: all

hardware:
  num_gpus_per_node: ${oc.decode:${oc.env:SLURM_GPUS_PER_NODE}}
  num_nodes: ${oc.decode:${oc.env:SLURM_NNODES}}
  num_gpus_per_model: 1
  num_members: 2

model:
  _target_: bris.model.brispredictor.BrisPredictor
  fcstep_const: False
  _convert_: all

routing:
  - decoder_index: 0
    domain_index: 0
    outputs:
      - netcdf:
          filename_pattern: ${output}/demo_fcast_%Y%m%dT%HZ.nc
          variables: ['2t', 'msl', 'z_500', 'tcc']
          extra_variables: ['ws']
          accumulated_variables: ['tp']
          interp_res: 1.0

      - verif:
          filename: ${verif_dst_path}/t2m/${verif_dst_fname}
          variable: 2t
          units: degC
          elev_gradient: -0.0065
          obs_sources:
             - verif:
                 filename: ${verif_src_path}/t2m/${verif_src_fname}